@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{

	--color-body:#878787;
	--color-negro:#000;
	--color-azul:#2E73E8;
	--color-morado: #8539D9;
	--bg-header: #000;
	--bg-gris: #fafafa;
	--bg-footer:#121212;
	--bg-input: #f1f2f3;

}




body{
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: var(--color-body);
}

header{
	background-color: var(--bg-header);
	padding: 20px 0;
	
}

#hero{
	background-color: rgba(0,0,0,0.50);
	background-blend-mode: multiply;
	background-image: url("../img/v44-oshine-00.jpg");
	background-size: cover; 
	background-position: center;
	padding: 100px 0;
	text-align: center;
	color: #FFFFFF;
}

#hero h3, 
#hero-slides h3{
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 20px 0;
	font-weight: 400;
	
}

#hero h1,
#hero-slides h1{
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 30px;
}




.btn{
	border-radius: 0;
	text-transform: uppercase;
	padding: 12px 30px;
	letter-spacing: 1px;
	font-size: 13px;
	color: #fff;
}


.section{
	padding: 8% 0;
}

.title{
	color: var(--color-negro);
	font-size: 40px;
	margin-bottom: 30px;
	
}

.subtitle{
	
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
	margin-bottom: 30px;
}


#introduccion .title{
	margin-top: 30%;
	
	
}

.btn-oshine{
	background: linear-gradient(120deg, rgba(133,57,217,1) 35%, rgba(46,115,232,1) 75%);
	
}

.btn-oshine:hover{
	background: linear-gradient(120deg, rgba(46,115,232,1) 35%, rgba(46,115,232,1) 75%);
	transition: all 2s ease-in-out;
}

.info-introduction{
	
	padding-left: 15%;
	padding-right: 15%;
}


#introduccion img{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#services{
	background-color: var(--bg-gris);
	text-align: center;
	
}

#services h3{
	color: #303132;
	font-size: 20px;
	font-weight: 500;
	margin: 25px 0;
}


.icon-circle{
	
	height: 100px;
	width: 100px;
	line-height: 100px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 15px 4px #f2f2f2;
	border-radius: 100%;
	color: var(--color-azul);
	font-size: 30px;
	transition: all 0.4s ease-in-out;
}

.icon-circle:hover{
	color: #FFFFFF;
	background-color: var(--color-morado);
	transition: all 0.4s ease-in-out;
} 



#hero.bg-contact{
	
	background-image: url("../img/bg-contact-us.jpg");
	background-size: cover;
	background-position: top center;
}


.bg-gradient{
	background: linear-gradient(120deg, rgba(133,57,217,1) 35%, rgba(46,115,232,1) 75%) !important;
	border-radius: 10px;
}

	
	

#icons-contactus{
	text-align: center;
	color: #FFFFFF;
	margin-top: -7%;
	
	
}


#icons-contactus i{
	height: 75px;
	width: 75px;
	line-height: 75px;
	background-color: rgba(255,255,255,0.20);
	border-radius: 100%;
	margin-bottom: 20px;
	font-size: 24px;
}


#contact-form input, 
#contact-form textarea{
	background-color: var(--bg-input);
	padding: 14px;
	border: 0;
	border-radius: 0;
	color: #aaa;
	font-size: 14px;
	
}


.app-carousel{
	padding: 0 6%;
}

.app-carousel .center .single-shot{
	opacity: 1;
	transform: scale(1);
}

.app-carousel .single-shot{
	opacity: 0.8;
	transform: scale(0.8);
}

.app-carousel .owl-dots{
	text-align: center;
}

.app-carousel .owl-dot{
	height: 11px;
	width: 11px;
	border: 2px solid #a49fba !important;
	border-radius: 50%;
	margin: 35px 6px;
}

.app-carousel .owl-dot.active{
	background-color: var(--color-morado);
	border: 0 !important;
}





footer{
	background-color: var(--bg-footer);
	color: #fff;
	font-size: 14px;
	padding: 30px 0;
}

















